/*
1. position
2. box model
3. typografi
4. visuales
5. otros
*/

:root {
  --bitconin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/*header*/
header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 32rem;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header > img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 60px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

header .header--title-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--white);
  line-height: 26px;
}

header .header--title-container p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--soft-orange);
  line-height: 18px;
  margin-top: 24px;
}

.header--title-container .header--botton {
  position: absolute;
  left: calc(50% - 118px);
  top: 260px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--botton span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("assets/icons/down-arrow.svg");
}
/*end header*/

/*main*/

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container{
  width: 100%;
  height: auto;
  padding-top:80px;
  padding-bottom:30px;
  text-align: center;
}

.main-exchange-container--title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin:0 auto;
}

.main-exchange-container .backgroundImg{
  width:200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("assets/img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;


}



.main-currency-table{
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height:360px;
  margin: 0 auto;
  font-family: "Inter",sans-serif;

}

.main-currency-table .currency-table--title{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitconin-orange);
  text-align: initial;
  
}

.main-currency-table .currency-table--titleCorredoras{
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
  text-align: initial;
  
}

.currency-table--container{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table--container table{
  width: 100%;
  height: 100%;
 
}

.currency-table--container td{
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--white);

  
}

.currency-table--container .table__top-left{
  border-radius: 15px 0 0 0px;
}

.currency-table--container .table__top-right{
  border-radius: 0 15px 0 0;
}

.currency-table--container .table__botton-left{
  border-radius: 0 0 0 15px;
}

.currency-table--container .table__botton-right{
  border-radius: 0 0 15px 0;
}

.currency-table--container .table__rigth{
  font-size: 1.4rem;
  font-weight:normal;
  line-height: 1.7rem;
  color: #757575;

}

.currency-table--container .down{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.currency-table--container .up{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.currency-table--date{
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.currency-table--date p{
  font-size: 1.2rem;
  color: var(--warm-black);
  line-height: 1.5rem;
  font-weight: 300;
  
}

.currency-table--dateCorredora{
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}

.currency-table--dateCorredora p{
  font-size: 1.2rem;
  color: var(--warm-black);
  line-height: 1.5rem;
  font-weight: 300;
  
}

.main-product-detail{
  position: relative;
  width: 100%;
  min-width:320px;
  height: auto;
  padding: 20px 10px; 
  background-color: var(--warm-black);
}

.product-detail--batata-logo{
  position:absolute;
  width: 40px;
  height: 25px;
  background-image: url(assets/icons/batata.svg);
  top: calc(0% - 12.5px);
	left: calc(50% - 20px);
}

.product-detail--title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  margin-top:50px;
  text-align: center;

}

.product-detail--title h2{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}

.product-detail--title p{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color:#808080 ;
}

.product-cards-container{
  
  width: 288px;
  height: auto;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 16px;
  background-color: var(--black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);

}

.product-detail--card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:  20px;
}

.product-detail--card .clock{
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
  background-image: url(assets/icons/clock.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.product-detail--card .eye{
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
  background-image: url(assets/icons/eye.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .dollar{
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
  background-image: url(assets/icons/dollar-sign.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .check{
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
  background-image: url(assets/icons/check-circle.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.product--card-title{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--white);
  margin-bottom: 15px;
}

.poduct--card-body{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #808080;
  margin-bottom: 15px;
}

.bitcoin-img-container{
  width: 100%;
  height:50vh;
  min-width:320px;
  background-image: url(assets/img/bitcoinbaby2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bitcoin-img-container h2{
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
  text-align: center;
}


.manin-plans-container{
  width: 100%;
  height: auto;
  min-width:320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans--title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px; 
  

}

.plans--title h2{
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans--title p{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.plans-container--card{
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: var(--off-white);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

}

.recomendado{
  position:absolute;
  width: 120px;
  height: 30px;
  padding: 6px;
  left: calc(50% - 60px);
  top: -15px;
  font-size: 1.2rem;
  background-color: var(--bitconin-orange);
  border-radius:8px;
  color: var(--white);


}

.plan-card--title{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plan-card--price{
  padding: 5px 0;
  font-size: 5.3rem;
  font-weight: bold;
  
  color: black;

}

.plan-card--price span{
  position: absolute;
  top: 66px;
  left: calc(50% - 45px);
  font-size: 1.2rem;
  font-weight: 500;
}

.plan-card--savin{
  font: size 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #757575;
}

.plan-card--ca{
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #faf8f7;
  border-radius: 4px;
  border: 2px solid var(--bitconin-orange);
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family: "DM Sans", sans-serif;

}

.plan-card--ca span{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url(assets/icons/orange-right-arrow.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.plans-container--slider{
  display: flex;
  gap: 20px;
  height:316px;
  overflow-x: scroll;
  overscroll-behavior-x:contain;
  scroll-snap-type: x proximity;
}

footer{
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitconin-orange);
}

footer section{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .left ul{ 
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;

}

.left li{
  margin: 10px 0;
}

.left a{
  text-decoration: none;
  color: var(--white);
}


